@using System.Globalization
@model IEnumerable<Amazon3.Models.Product>
@*<img class="card-img-top" src="https://via.placeholder.com/200" />*@
@{
    ViewData["Title"] = "Home Page";
}
@{
    int i = 0;
}

<div id="carouselExampleIndicators" class="carousel slide pt-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="height: 400px; object-fit: cover;">
        <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1608835291093-394b0c943a75?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1744&q=80" class="d-block w-100" style="height: 400px; object-fit: cover" alt="...">
        </div>
        <div class="carousel-item h-100">
            <img src="https://images.unsplash.com/photo-1467825487722-2a7c4cd62e75?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" class="d-block w-100" style="height: 400px; object-fit: cover" alt="...">
        </div>
        <div class="carousel-item h-100">
            <img src="https://images.unsplash.com/photo-1603903631889-b5f3ba4d5b9b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80" class="d-block w-100" style="height: 400px; object-fit: cover" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<h2 class="mt-4">Great Prices</h2>

<div class="container mt-3 row row-cols-2 row-cols-lg-6 row-cols-md-3 justify-content-center">
        @foreach (var item in Model.Take(6))
        {
            <a class="card text-dark p-0" style="height: 350px; text-decoration: none;" href="~/Home/Product/@Html.DisplayFor(modelItem => item.ProductId)">
                <img class="card-img-top" style="height: 200px" src="@Html.DisplayFor(modelItem => item.Url)" />
                <div class="card-body d-flex flex-column">
                    <h5 class="cart-title">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                <h3 class="card-subtitle mt-auto">@item.Price.ToString("c", new CultureInfo("en-US"))</h3>
                </div>
            </a>
            i++;
        }
</div>

<div class="container mt-3 row row-cols-2 row-cols-lg-6 row-cols-md-3 justify-content-center">
    @foreach (var item in Model.Skip(i).Take(6))
    {
        <a class="card text-dark p-0" style="height: 350px; text-decoration: none;" href="~/Home/Product/@Html.DisplayFor(modelItem => item.ProductId)">
            <img class="card-img-top" style="height: 200px" src="@Html.DisplayFor(modelItem => item.Url)" />
            <div class="card-body d-flex flex-column">
                <h5 class="cart-title">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                <h3 class="card-subtitle mt-auto">@item.Price.ToString("c", new CultureInfo("en-US"))</h3>
            </div>
        </a>
        i++;
    }
</div>
